.video{
    //overflow: hidden;
    position: relative;
    width:80vw;
    height: 35vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1200px;
    padding-top: 15px;

}

.video iframe {
    width: 100%;
    height: 100%;
}

.menuSecundario{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;

}



.card{
    background: rgb(206, 206, 206);
    padding: 15px;
    padding-top: 0px;
    margin-top: 30px;
    -webkit-border-radius: 5px;
    border-radius: 15px;
    background: rgba(240, 240, 240, 0.514);
    box-shadow: 0px 5px 6px #999;
}


.card:hover{

    cursor: pointer;
    box-shadow: inset 0 0 7px rgba(0,0,0,0.7); 
    animation-name: pulse; 
    animation-duration: 1s; 
    -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;


}

@keyframes pulse { 
        0%, 20%, 50%, 80%, 100% {transform: translateY(10);} 
        40% {transform: scale3d(1.05, 1.05, 1.05)}
        60% {transform:scale3d(1.05, 1.05, 1.05)}
 } 
    
.novidades{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: none;
    border-width: 0;
    max-width: 1200px;
    //margin: 0px;
    padding: 0px;
    top: 0px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    

    
}

.titulonews{
    padding-top: 50px;
 

}

.card a{
     display: flex;
    text-decoration: none;
       
}
.imagems{
    //margin-top: 14px;
    padding-top: 16px ;
    
    

}
.bloco{
    margin: 0px;
    padding: 0px;
    margin-left: 15px;
    margin-top: 5px;
    
}

.h11{
    margin: 0px;
    padding: 0px;
}
