
.cabeca{
  display: flex;
  height: 100px;
  
  background: rgba(240, 240, 240, 0.514);
  max-width: 1200px;
  
  box-shadow: 0px 5px 2px #999;
  
  padding-left: 15px;
  
}
.cabeca Image{
  margin-left: 15px;
  padding-left: 15px;
}

.menu{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  max-width: 168px;
  margin-left: 130px;
  
}

.menu li{
  margin-left: 10px ;
  padding: 3px;
}

.menuPrincipal{
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 50px;
  align-items: center;
  padding: 4px;
  font-size: 15px;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 15px;
  
  
}




.menuPrincipal a{
  margin-left: 100px ;
  padding: 3px;
  color:rgb(5, 5, 5);
  text-decoration:none;
  font-family: Arial, Helvetica, sans-serif;
  

}
.corpo{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;


  
}
.corpo ul2{
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr;
  
  max-width: 1100px;
  margin: 0 auto;


}
.corpo ul2 li{
  background: chartreuse;
  margin: 0 auto;
  margin-top: 25px;
  
 
  padding: 20px;
  padding-top: 10px;
  line-height: 0px;
  box-shadow: 0px -5px 2px #999;
  background: rgba(240, 240, 240, 0.514);
  
  
  box-shadow: 2px 5px 3px #999;

}

.button{
  
  
  max-width: 1020px;
  
  list-style: none;
  
  margin: 0 auto;

  margin-top: 12px;
  margin-bottom: 25px;
  border: 0px;
  background: none;

  
}
.button ul3 {
  
  float: left;
  display: inline;
}
.button div{
  float: left;
  display: inline;
  
}

.button ul3 li3 {

  padding: 10px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;

  background: rgba(240, 240, 240, 0.514);
  box-shadow: 2px 5px 3px #999;
  
  margin: 10px;

  padding-right: 10px;
  margin: 3px;
  margin-right: 10px;
  padding-left: 5px;
  margin-left: 10px;
  
  
}

.button p{
 
  
  text-align: left;
  padding-left: 20px;
  
  
  
}

.button blockquote{
  margin: 2px;
  display: grid;
  margin: 0px;
  padding-left: 20px;
  
 

}




.footer {
  margin-top: 6px;
  padding-top: 4px;
  text-align: center;
  box-shadow: 0px -5px 2px #999;
  background: rgba(240, 240, 240, 0.514);
  max-width: 1200px;

}
