@import "styles/_RodapeCss";
@import "styles/_CabecalhoCss";
@import "styles/_CorpoPcss";

.html { height: 100%; margin: 0px; padding: 0px;border:0px}
.footer{ height: 100%; margin: 0px; padding: 0px;border:0px}
.body { height: 100%; margin: 0; padding: 0;border:0px}
.div { height: 100%; margin: 0; padding: 0;border:0px}
.a { height: 100%; margin: 0; padding: 0;border:0px}
.link{ height: 100%; margin: 0; padding: 0;border:0px}
.header{ height: 100%; margin: 0; padding: 0;border:0px}
.grid-container { height: 100%; margin: 0px; padding: 0px; border:0px}
.h1{height: 100%; margin: 0px; padding: 0px; border:0px}

.normalize{
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;

 

  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  max-height: 100%;
  background: rgb(255, 255, 255);


}
